
<!DOCTYPE html>
<html lang="ja">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カレンダーRPG</title>
    <%= stylesheet_link_tag "main", :media => "all" %>
    
</head>

<body>
    <div>
        <h1 class="title">カレンダーRPG</h1>
    </div>
    
    <div class="kakomi-box1 yotei">
        <span class=title-box>本日の予定</span>
        <ul class="menu">
        </ul>
    </div>

    <div class="container-calendar">
        <h4 id="monthAndYear"></h4>
        <div class="button-container-calendar">
            <button id="previous" onclick="previous()">‹</button>
            <button id="next" onclick="next()">›</button>
        </div>
        
        <table class="table-calendar" id="calendar" data-lang="ja">
            <thead id="thead-month"></thead>
            <tbody id="calendar-body"></tbody>
        </table>
        
        <div class="footer-container-calendar">
            <label for="month">日付指定：</label>
            <select id="month" onchange="jump()">
                <option value=0>1月</option>
                <option value=1>2月</option>
                <option value=2>3月</option>
                <option value=3>4月</option>
                <option value=4>5月</option>
                <option value=5>6月</option>
                <option value=6>7月</option>
                <option value=7>8月</option>
                <option value=8>9月</option>
                <option value=9>10月</option>
                <option value=10>11月</option>
                <option value=11>12月</option>
            </select>
            <select id="year" onchange="jump()"></select>
        </div>
  </div>

  <%= javascript_pack_tag 'main/main' %>

    <div class="container-calendar">
        <%= month_calendar events: @schedules do |date, schedules| %>
            <%= date.day %>
            <% schedules.each do |schedule| %>
                <div>
                    <%= image_tag '' %> # imagesフォルダに入れた画像の名前を入れる
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="kakomi-box menu">
        <span class=title-box>メニュー</span>
        <ul class="list">
            <p>ステータス</p>
            <p>設定</p>
            <p>日記</p>
        </ul>
    </div>

    
</body>

</html>
